{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<h1> Supplier Records </h1>
<div class="table-resp">
<table class="table table-striped table-hover table-bordered ">
	<thead class="table-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Company Name</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Product</th>
			<th scope="col">Address</th>
			<th scope="col">Created Time</th>
		</tr>
	</thead>
	<tbody>
		{% if supplier_list %}
		
		{% for record in supplier_list %}
		<tr>
			<td><a href="{% url 'supplier' record.id %}">{{ record.id }}</a></td>
			<td>{{ record.name }}</td>
			<td>{{ record.company_name }}</td>
			<td>{{ record.email }}</td>
			<td>{{ record.phone }}</td>
			<td>{{ record.Product }}</td>
			<td>{{ record.Address }}</td>
			<td>{{ record.created_at }}</td>
		</tr>
		{% endfor %}

		{% endif %}

	</tbody>
</table>	  
</div>

{% else %}
<div class="col-md-6 offset-3">
<h1>You need to login first...</h1>
</div>
{% endif %} 


{% endblock %}