{% extends 'store/main.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <form class="d-flex" role="search" method="GET">
                {% csrf_token %}
                <input class="form-control mx-2" type="search" placeholder="Enter Your Email Id Here To View Your Previous Purchases" aria-label="Search" name="q1">
                <button class="btn btn-secondary" type="submit">Search</button>
            </form>
            <br>
            {% if q1 %}
            {% if emailid %}
                <h4>Previous purchases of {{q1}}</h4>
                <div class="table-resp">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Ordered At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in emailid %}
                                <tr>
                                    <td>{{ record.order.id }}</td>
                                    <td>{{ record.product.name }}</td>
                                    <td>{{ record.quantity }}</td>
                                    <td>{{ record.date_added }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'previous_order' %}" class="btn btn-secondary">Back</a>
                </div>
                {% else %}
                <h4>{{q1}} does not exist</h4>
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
