{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<p>{{product.description}}</p>
				<hr>

				<a href="#" class="btn btn-outline-primary">Add to Wishlist</a>
				<a href="#" class="btn btn-outline-dark">View</a>
				<a href="{% url 'review' pk=product.pk %}" class="btn btn-outline-info">Reviews</a>
				<hr>
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a href="#" class="btn btn-outline-success">Buy now</a>
				<h4 style="float: right;"><strong>Rs {{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
